/* Estilos Gerais */
* {
    margin: 0;
    padding: 0;
    scrollbar-width: none;
}

body {
    background-color: #111822;
    color: #EFECEA;
    font-family: "Manrope";
}

.container-top{
    width: 90%;
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    width: 80%;
}

header {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid rgba(256, 256, 256, 0.8);
}

header a {
    text-decoration: none;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #EFECEA;
}

.logo img {
    margin-right: 6px;
}

.logo b {
    color: rgba(256, 256, 256, 0.8);
    transition: all 0.3s ease;
}

.logo b:hover {
    color: rgba(256, 256, 256);
}

nav ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
    width: 350px;
    font-size: 12px;
}

nav ul a{
    display: block;
    padding: 10px;
    border-radius: 12px;
    text-decoration: none;
    color: rgba(256, 256, 256, 0.8);
    transition: all 0.2s ease-in-out;
}

nav ul a:hover {
    color: rgba(256, 256, 256);
    transform: scale(1.1);
}

footer {
    display: flex;
    justify-content: center;
}

.icons {
    width: 44px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
}

.icons a{
    text-decoration: none;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    color: #8faecccf;
    font-size: 12px;
}

.social-icon {
    width: 16px;
    height: 16px;
    transition: transform 0.2s ease-in-out; 
}

.social-icon:hover {
    transform: scale(1.1); 
}

.github-icon path {
    fill: none;
    stroke-width: 3px;
    stroke: #8faecccf; 
}

.linkedin-icon * {
    stroke: #8faecccf;  
    stroke-width: 3px;    
    fill: none;         
    stroke-linecap: round;
    stroke-linejoin: round;
}

/* Estilos pagina Contato */

.body-flex {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#contato {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.form-container {
    width: 45%;
}

.input {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 16px ;
    margin-bottom: 8px;
    color: rgba(256, 256, 256, 0.8);
}

input, textarea {
    background-color: #172633;
    color: rgba(256, 256, 256, 0.8);
    height: 36px;
    border-radius: 9px;
    border: 1px solid #304D69;
    padding: 4px;
    margin-bottom: 16px;
    font-family: "Manrope", sans-serif;
}

#message {
    height: 124px;
}

input::placeholder, textarea::placeholder {
    color: #8FADCC ;
}

input:focus, textarea:focus {
    outline: none;
    border: 1px solid #8FADCC;
}

.btn {
    width: 100%;
    margin-top: 24px;
    display: flex;
    border-radius: 12px;
    justify-content: center;
}

.btn button {
    display: inline-block;
    padding: 16px 28px;
    background-color: #3D99F5;
    color: rgba(256, 256, 256, 0.8);
    font-weight: bold;
    border: none;
    border-radius: 12px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.btn button:hover {
    background: #3480cd;
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
}

.btn button:active {
    transform: translateY(0) scale(1);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15); 
}

/* Estilos pagina Portifolio */

#projects {
    display: flex;
    justify-content: center;
    margin-top: 64px;
}

.projects-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr))
}

.project-card {
    width: 320px;
    padding: 18px 12px;
    border-radius: 20px;       
    padding: 16px;            
    transition: all 0.35s ease-in-out; 
}

.projects-title, .info-title {
    display: inline-block;
    border-bottom: 2px solid rgba(256, 256, 256, 0.8);
    padding-bottom: 8px;
    margin-bottom: 32px;
}

span {
    width: 28px;
    display: inline-block;
}

.project-card:hover {
    background-color: #172633;
    transform: translateY(-5px);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
}

.project-card img {
    width: 320px;
    height: 230px;
    object-fit: cover;
    border-radius: 20px;
    margin-bottom: 8px;
}

.project-name {
    font-size: 18px;
    margin-bottom: 4px;
}

.project-desc {
    font-size: 12px;
    color: #8FADCC;
}

/* Estilos página Sobre */

#about-me {
    display: flex;
    justify-content: center;
    margin-top: 64px;
}

.info {
    display: flex;
    margin-bottom: 16px;
}

.info-img img {
    width: 250px;
    height: 450px;
    object-fit: cover;
    margin-right: 40px;
    border-radius: 24px;
}

.tech {
    margin-top: 36px;
}

.about-tech {
    display: flex;
    flex-wrap: wrap;
}

.about-tech i {
    transition: all 0.3s ease-in-out
}

.about-tech i:hover {
    transform: scale(1.2);
}

#about-me a {
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.btn-cv {
    margin-bottom: 16px;
    width: 196px;
    padding: 16px 28px;
    background: #3D99F5;
    color: rgba(256, 256, 256, 0.8);
    font-weight: bold;
    border: none;
    border-radius: 12px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.btn-cv:hover {
    background: #3480cd;
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
}

.btn-cv:active {
    transform: translateY(0) scale(1);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15); 
}

.download-icon {
    fill: #EFECEA;
}